$white: #ffffff;
$black: #000000;
$darkGray: #474747;

// default colors: def
$secondary: #6d2fbc;
$red: #bf003b;
$orange: #fe6100;
$primary: #0a0e16;
$green: #20ab45;
$lightGray: #d4d4d4;

// first variation: f
$f-primary: #0f1b33;
$f-secondary: #00438a;
$f-darkgray: #403e3e;
$f-lighGray: #b3b7d4;

// second variation: s
$s-primary: #1490fb;
$s-secondary: #004778;
$s-darkGray: #443c3f;
$s-lightGray: #bcb4d7;

// third variation: t
$t-primary: #2c9ba7;
$t-secondary: #514146;
$t-darkGray: #3f3e43;
$t-lightGray: #a8bac8;
