@import '../../common/sassStyles/_variables.scss';

.cardimg {
  border-radius: 0.2rem;
  border-color: #0d0d0e !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  color: #0d0d0e;
}

@media only screen and(max-width:991px  ) {
  .cardimg {
    height: 15rem !important;
  }
}
